/* -----body----- */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



/* -----header----- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header-line {
    display: flex;
    align-items: center;
}

.header-nav { 
    align-items: center; 
    display: flex;
    margin-right: auto;
}

.header-soc-list {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
}

.header-soc-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.header-soc-item.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-soc-item:hover,
.header-soc-item:focus {
    color: #404bbf;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.address {
    font-style: normal;
}

.address-item {
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.list:hover, .list:focus {
    color: #404bbf;
}

.list:active {
    color: #2e2f42;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover, .contact:focus {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* -----main----- */


/* -----section_1-----*/

.background {
    background-color: #2e2f42;
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    margin: 0 auto;
    background-size: cover
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.btn {

    background-color: #4d5ae5;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
    background-color: #404BBF;
}


/* -----section_2-----*/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrap-about {
    display: flex;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
}

.about-item {
    width: calc((100% - 3*24px) / 4);
}

.wrap-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    display: flex;
}

/* .icons-about { */

.title-about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.background-our-team {
    background-color: #f4f4fd;
}


/* -----section_3-----*/


/* .container-our-team {}*/

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background: #fff;
    width: calc((100% - 3*24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* .team-item-img */

.wrap-team {
    padding: 32px 0;
}

.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.team-item-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-section:hover,
.link-section:focus {
    background-color:#404bbf;
}

.icon-icon {
    fill: #f4f4fd;
}


/* -----section_4-----*/


.title-our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.post {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.post .title-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.post .item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.post-item {
    width: calc((100% - 24px*2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-item:hover .item-overflow {
    transform: translateY(0);
}

.post-item:hover,
.post-item:focus {
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.item-portfolio {
    position: relative;
    overflow: hidden;
}

.item-overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* .about-item {} */


/* -----footer-----*/


.background-footer {
    background: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.container-footer {
    margin-right: 120px;
}

.footer-page {
    text-align: left;
    display: flex;
    align-items: baseline;
}


.text-footer { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.text-footer-media {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.icon-list-footer {
    gap: 16px;
}

/* .media {
} */

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}